.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
/* .menu-div{
    display: none;
} */
/* @media only screen and (max-width: 800px){
    .navbar{
        padding: 1rem 1.5rem;
    }
    .links-flex{
        display: none;
    }
    .menu-div{
        display: block;
    }
    .heading{
        font-size: 1.2em;
    }
} */